extends layout


append script
  script(src='/javascripts/jquery.twbsPagination.min.js')
block content
  include nav.jade
  .container
    h1 Fixed Assets Infomation
    form.form-inline.pull-right.index-filter(onsubmit="return onSearch();")
      .form-group
        input.form-control(type="text",id="txtSearch",name="q",value=keyword,placeholder="Search...")
    table.table.table-striped.table-hover
      colgroup
        col(style="width:13%")
        col(style="width:11%")
        col(style="width:11%")
        col
        col(style="width: 16%")
        col(style="width: 5%")
        col
        col
      tr
        th
          a(href="/?"+'sort=' + (sort==='pcd'?'pc':'pcd')+qstring + '&page='+currentPage)
            i(class={"fa fa-arrow-up": sort==="pc"},class={"fa fa-arrow-down": sort==="pcd"})
              span.head-title ComputerName
        th
          a(href="/?"+'sort=' + (sort==='named'?'name':'named')+qstring + '&page='+currentPage)
            i(class={"fa fa-arrow-up": sort==="name"},class={"fa fa-arrow-down": sort==="named"})
              span.head-title displayName
        th Model
        th SN
        th OS
        th RAM
        th HDD
        th Details

      each pcinfo in pcinfos
        tr
          td= pcinfo.ComputerName
          td= pcinfo.displayName
          td= pcinfo.Model
          td= pcinfo.SN
          td= pcinfo.OS
          td= pcinfo.RAM
          td= pcinfo.HDD
          td
            a.btn.btn-info(href='/details/'+pcinfo.ComputerName,target='_blank') View Details

    ul.sync-pagination.pagination-sm
    div.page-count: span COUNT: #{count}

  script.
    $(function(){
      txtSearch = $('#txtSearch');
      txtSearch.focus();
      txtSearch.val(txtSearch.val());
    });

    $('.sync-pagination').twbsPagination({
      totalPages: #{totalPage},
      visiblePages: 10,
      initiateStartPageClick: false,
      href: '?sort=#{sort}!{qstring}&page={{number}}',
      onPageClick: function (event, page) {
        //$('#page-content').text('Page ' + page);
      }
    });
    
    function onSearch(){
      keyword = $('#txtSearch').val().trim();
      console.log(keyword);
      if(keyword===''){
        //$('#txtSearch').removeAttr('name');
        window.location.href = '/';
        return false;
      };
      return true;
    }
