extends layout


append script
  script(src='/javascripts/jquery.twbsPagination.min.js',type='text/javascript')
block content
  include nav.jade
  .container
    h1 Fixed Assets Infomation
    form.form-inline.pull-right.index-filter(onsubmit="return onSearch();")
      .form-group
        input.form-control(type="text",id="txtSearch",name="q",value=keyword,placeholder="Search...")
    table.table.table-striped.table-hover
      colgroup
        col(style="width:13%")
        col(style="width:11%")
        col
        col(style="width:11%")
        col
        col(style="width: 16%")
        col(style="width: 5%")
        col
      tr
        th
          a(href="/?"+'sort=' + (sort==='pc'?'pcd':'pc')+qstring + '&page='+currentPage)
            span(class={"glyphicon glyphicon-arrow-up": sort==="pc"},class={"glyphicon glyphicon-arrow-down": sort==="pcd"})
              span.head-title ComputerName
        th
          a(href="/?"+'sort=' + (sort==='name'?'named':'name')+qstring + '&page='+currentPage)
            span(class={"glyphicon glyphicon-arrow-up": sort==="name"},class={"glyphicon glyphicon-arrow-down": sort==="named"})
              span.head-title displayName
        th LogonName
        th Model
        th SN
        th OS
        th RAM
        th HDD

      each pcinfo in pcinfos
        tr
          td
            a(href='/details/'+pcinfo.ComputerName,target='_blank')= pcinfo.ComputerName
          td= pcinfo.displayName
          td
            a.samaccount(href="javascript:void(0)")= pcinfo.LogonName
          td= pcinfo.Model
          td
            a.servicetag(href="javascript:void(0)")= pcinfo.SN
          td= pcinfo.OS
          td= pcinfo.RAM
          td= pcinfo.HDD

    ul.sync-pagination.pagination-sm
    div.page-count: span COUNT: #{count}
  include snmodel.jade

  script(src='/javascripts/createTable.js')
  script(src='/javascripts/index.js')
  script.
    $('.sync-pagination').twbsPagination({
      totalPages: #{totalPage},
      visiblePages: 10,
      initiateStartPageClick: false,
      href: '?sort=#{sort}!{qstring}&page={{number}}',
      onPageClick: function (event, page) {
        //$('#page-content').text('Page ' + page);
      }
    });
