extends layout

block content
  include nav.jade
  .container
    h1 Statistics
    .panel.panel-default
      .panel-body.filter-select
        form.form#filter-form
          h5 Filter:
          .col-sm-6.col-md-4
            select.form-control(name="company")
              option(value="") -- Filter by Company --
              each company in companies
                option(value=company)= company
          .col-sm-6.col-md-4
            select.form-control(name="department")
              option(value="") -- Filter by Department --
                each department in departments
                  option(value=department)= department
          .col-sm-6.col-md-4
            select.form-control(name="Vendor")
              option(value="") -- Filter by Vendor --
                each vendor in vendors
                  option(value=vendor)= vendor
          .col-sm-6.col-md-4
            select.form-control(name="OS")
              option(value="") -- Filter by OS --
                each os in oss
                  option(value=os)= os
          .col-sm-6.col-md-4
            select.form-control(name="CPU")
              option(value="") -- Filter by CPU --
                each cpu in cpus
                  option(value=cpu)= cpu
          .col-sm-6.col-md-4
            select.form-control(name="RAM")
              option(value="") -- Filter by RAM --
                each ram in rams
                  option(value=ram)= ram
          h5 Group:
          .col-sm-6.col-md-4
            select.form-control(name="group")
              option(value="") --  Group by  --
              each group in groups
                option(value=group)= group
          .col-sm-6.col-md-4
            select.form-control(name="group")
              option(value="") --  Group by  --
              each group in groups
                option(value=group)= group
          .col-sm-6.col-md-4
            select.form-control(name="group")
              option(value="") --  Group by  --
              each group in groups
                option(value=group)= group

          .clearfix
          .col-xs-6.col-md-4
              button#btn-filter.btn.btn-primary(type="button") Query

    .panel.panel-default
      .panel-heading
        |Results:&nbsp;
        span#results-count
        input#txt-search(type="text",placeholder="Search results")
        button#export2excel.pull-right(type="button",style={display:"none"}) Export to csv
      .panel-body
        table#results-table.table.table-bordered.table-striped.table-hover
  script(src='/javascripts/table2download.js')
  script(src='/javascripts/filters.js')
